{% extends 'app.html' %}

{% block content %}
    
    {% for movie in movies %}
        <div>
            <a href="{% url 'movie' movie.id %}">
                <img src="{{ movie.image.url }}" alt="{{ movie.title }}">
                <h2>{{ movie.title }}</h2>
            </a>
        </div>
    {% endfor %}

{% endblock %}
