{% extends 'app.html' %}

{% block content %}
    <div>
        <img src="{{ movie.image.url }}" alt="{{ movie.title }}">
        <h1>{{ movie.title }}</h1>
        <p>{{ movie.description }}</p>
    </div>
{% endblock %}
