{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kino</title>

        {% load compress %}
        <link rel="stylesheet" href="{% static 'css/output.css' %}" />
        {% load static %}
    </head>
    <body class="bg-black">
        <header>{% include 'nav.html' %}</header>

        <main>{% block content %}{% endblock %}</main>
    </body>
</html>
